@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="jumbortron">
  <h1>Edit</h1>
</div>

<h2>Edit this Machine</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.LabelFor(model => model.Model)
  @Html.TextBoxFor(model => model.Model)

  <input type="submit" value="Add new engineer"/>
}

<p>@Html.ActionLink("Cancel", "Details", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>